

// Background colours
//$backgroundColour: #ffffff !default;
$backgroundColour: #ddaaaa!default;
$codeBackgroundColour: #ddaaaa! !default;
$featureBackgroundColour: #ddaaaa! !default;
$accentColour: #ddaaaa! !default;

// Text colours
//$headingColour: #242e2b !default;
$headingColour: #ddaaaa! !default;
$bodyColour: #ddaaaa! !default;
$linkColour: #ddaaaa! !default;
$hoverColour: #ddaaaa! !default;
$focusColour: #ddaaaa! !default;
$captionColour: #ddaaaa! !default;
$white: #ffffff !default;

// boxes
.boxed-word {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-weight: bold;
}

@import "alembic";
