---
title: false
styles: true
---

// Background colours
//$backgroundColour: #ffffff !default;
$backgroundColour: #ddaaaa!default;
$codeBackgroundColour: #ddaaaa! !default;
$featureBackgroundColour: #ddaaaa! !default;
$accentColour: #ddaaaa! !default;

// Text colours
//$headingColour: #242e2b !default;
$headingColour: #ddaaaa! !default;
$bodyColour: #ddaaaa! !default;
$linkColour: #ddaaaa! !default;
$hoverColour: #ddaaaa! !default;
$focusColour: #ddaaaa! !default;
$captionColour: #ddaaaa! !default;
$white: #ffffff !default;


@import "alembic";
